{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Kursübersicht{% endblock %}</h1>
{% endblock %}

{% block content %}
    </br>
    <table class='course'>
      <caption>Aktuelle Kurse</caption>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Einrichtung</th>
        <th>Studiengang</th>
        <th>Jahrgang</th>
        <th>Studenten</th>
        <th>Start Pre-Befragung</th>
        <th>Start Post-Befragung</th>
      </tr>
    {% for course in current_courses %}
      <tr>
        {% for field in course %}
          <td>{{ field }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
    </table>
    </br>
    <p>
      <b>15 Tage nach dem Start der Post-Befragung kann der Report durch einen
      Klick auf den Kurs-Namen abgerufen werden.</b>
    </p>
    <table class='course'>
      <caption>Abgeschlossene Kurse</caption>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Einrichtung</th>
        <th>Studiengang</th>
        <th>Jahrgang</th>
        <th>Studenten</th>
        <th>Start Pre-Befragung</th>
        <th>Start Post-Befragung</th>
      </tr>
    {% for course in past_courses %}
      <tr>
        {% if course|length == 8 %}
          {% for field in course %}
            <td>{{ field }}</td>
          {% endfor %}
        {% else %}
          <td>{{course[0]}}</td>
          <td>
            <a href={{url_for('course.send_pdf', course_name=course[0])}}>{{course[1]}}</a>
          </td>
          {% for field in course[2:8] %}
            <td>{{ field }}</td>
          {% endfor %}
        {% endif %}
      </tr>
    {% endfor %}
    </table>

{% endblock %}}
