{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Courses{% endblock %}</h1>
{% endblock %}

{% block content %}
    <table class='course'>
      <caption>Current Courses</caption>
      <tr>
        <th>Name</th>
        <th>University</th>
        <th>Program</th>
        <th>Experience</th>
        <th>Number Students</th>
        <th>Start Date Pre</th>
        <th>Start Date Post</th>
      </tr>
    {% for course in courses %}
      <tr>
        {% for field in course %}
          <td>{{ field }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
    </table>
{% endblock %}}
