{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Einloggen{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="email">E-Mail</label>
    <input name="email" id="email" required>
    <label for="password">Passwort</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Einloggen">
  </form>

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#237afc"
    },
    "button": {
      "background": "#fff",
      "text": "#237afc"
    }
  },
  "content": {
    "message": "Diese Website verwendet lokale Cookies um den Benutzer-Account zu verwalten.",
    "dismiss": "Akzeptieren",
    "link": "Mehr Informationen"
  }
});
</script>
{% endblock %}
